{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'custom/css/custom.css' %}" rel="stylesheet"/>
<script src="https://use.fontawesome.com/f66e5bd89e.js"></script>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% comment %} AOS {% endcomment %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">