{% load static %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% comment %} Slick Animation {% endcomment %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% comment %} AOS {% endcomment %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{% comment %} Custom JS External {% endcomment %}
<script src="{% static 'custom/js/custom.js' %}"></script>
