{% load static %}
<div class="col">
    <div class="card p-2 border-0">
        <div class="text-center my-3">
            <button type="button" class="myBtn2">
                <i class="fa fa-graduation-cap
                "></i>
                {{ education.degree_name|title }}
              </button>
        </div>
        <div class="card-body p-0">
            <p class="h2 fw-bold">{{ education.subject }}</p>
            <p class="h5 text-secondary">{{ education.institute }}</p>
            <span class="text-danger fs-6">{{ education.start_year }}-{{ education.passing_year }}</span>
            
            <p class="text-muted">
                {{ education.short_brief|title }}
            </p>
        </div>
    </div>
</div>