{% load static %}
<div class="col">
    <div class="card p-2 border-0">
        <div class="text-center my-3">
            <button type="button" class="myBtn2">
                <i class="fa fa-graduation-cap
                "></i>
                Bachelor of Science
              </button>
        </div>
        <div class="card-body p-0">
            <p class="h2 fw-bold">Computer Science & Engineering</p>
            <p class="h5 text-secondary">Northern University of Business and Technology.</p>
            <span class="text-danger fs-6">2016-2020</span>
            
            <p class="text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, excepturi.
            </p>
        </div>
    </div>
</div>