{% load static %}
<div class="col">
    <div class="card p-4 border-0 shadow-lg">
        <div class="d-flex  align-items-center">
            <div class="col-md-8">
                <p class="h2 fw-bold">Khulna Shipyard Limited</p>
                <p class="h6 text-secondary">Assistant Programmer (Django)</p>
                <span class="text-danger fs-6">2016-Running</span>
            </div>   
            <div class="card p-0 rounded-circle border-0 shadow-lg overflow-hidden">
                <img src="{% static 'img/user_img.png' %}" class="card-img-top img-fluid" alt="...">
            </div>
        </div>
        <div class="card-body p-0">
            <hr>
            <p class="text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, excepturi.
            </p>
        </div>
    </div>
</div>