{% load static %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card shadow p-5 border-0 featureCard" data-aos="flip-left">
        <div class="card-body">
          <i class="fa fa-bars fa-3x my-4 text-danger"></i>
          <h4 class="card-title">App Development</h5>
          <p class="card-text text-secondary">I throw myself down among the tall grass by the stream as I
            lie close to the earth.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow border-0 p-5 featureCard" data-aos="flip-up">        
        <div class="card-body">
          <i class="fa fa-podcast fa-3x my-4 text-primary"></i>
          <h4 class="card-title">Data Processing</h5>
          <p class="card-text text-muted">I throw myself down among the tall grass by the stream as I
            lie close to the earth.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow border-0 p-5 featureCard" data-aos="flip-right">        
        <div class="card-body">
          <i class="fa fa-wifi fa-3x my-4 text-secondary"></i>
          <h4 class="card-title">Web Scraping</h5>
          <p class="card-text text-muted">I throw myself down among the tall grass by the stream as I
            lie close to the earth.</p>
        </div>
      </div>
    </div>
  </div>