{% load static %}
<div class="col">
  <div class="card shadow-lg p-2 rounded-5 border-0 portfolioCard" data-aos="fade-right">
    <div class="card m-4 rounded-5 border-0 bg-dark">
      <img src="{{ portfolio.project_img }}" class="card-img-top img-fluid portfolioImg" alt="...">
    </div>
    <div class="card-body">
      <a href="#portfoli_link" class="portfoliLink">
        <h4 class="card-title">{{ portfolio.project_name }}</h5>
      </a>
      <div class="d-flex justify-content-between mt-4">
        <a href="{{ portfolio.preview_link }}" class="myBtn">
          <i class="fa fa-paper-plane"></i>
          Live Preview
        </a>
        <a href="{{ portfolio.github_link }}" class="myBtn2">
          <i class="fa fa-github"></i>
          Github
        </a>
      </div>
    </div>
  </div>
</div>