{% load static %}
<div class="d-md-flex p-md-5 testmonialBg">
    <div class="col-md-6 p-3">
        <div class="card shadow-lg p-2 rounded-3 border-0">
            <div class="testmonialCard m-4 rounded-3 border-0 bg-dark overflow-hidden">
                <img src="{% static 'img/user_img.png' %}" class="card-img-top img-fluid portfolioImg" alt="...">
            </div>
            <div class="card-body">
                <span class="text-danger fs-6">Rainbow-Themes</span>
                <p class="h2 fw-bold">Nevine Acotanza</p>
                <p class="h6 text-secondary">Chief Operating Officer</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-3 align-self-end">
        <div class="card shadow-lg p-2 rounded-3 border-0">
            <div class="d-flex p-3 align-items-center">
                <div class="col-md-8">
                    <p class="h3 fw-bold">Android App Development</p>
                    <p class="h6 text-secondary">via Upwork</p>
                    <p class="h6 text-secondary">Mar 4, 2015 - Aug 30, 2021</p>
                </div>   
                <div class="">
                    <span class="d-block">Rating</span>
                    <span class="badge bg-success">4.5 out of 5</span>
                </div>
            </div>
            <div class="card-body">
                <hr>
                <p class="text-muted fs-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, animi esse. Ipsa consequuntur ea voluptate animi explicabo necessitatibus sequi a molestiae nulla cumque sunt magni quasi iure, mollitia adipisci sit.
                </p>
            </div>
        </div>
    </div>

</div>