{% load static %}
<div class="d-md-flex p-md-5 testmonialBg">
    <div class="col-md-6 p-3">
        <div class="card shadow-lg p-2 rounded-3 border-0">
            <div class="testmonialCard m-4 rounded-3 border-0 bg-dark overflow-hidden">
                <img src="{% static 'img/user_img.png' %}" class="card-img-top img-fluid portfolioImg" alt="...">
            </div>
            <div class="card-body">
                <span class="text-danger fs-6">{{ feedback.company_name|title }}</span>
                <p class="h2 fw-bold">{{ feedback.client_name }}</p>
                <p class="h6 text-secondary">{{ feedback.designation }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-3 align-self-end">
        <div class="card shadow-lg p-2 rounded-3 border-0">
            <div class="d-flex p-3 align-items-center">
                <div class="col-md-8">
                    <p class="h3 fw-bold">{{ feedback.job_title }}</p>
                    <p class="h6 text-secondary">via {{ feedback.market_place }}</p>
                    <p class="h6 text-secondary">{{ feedback.contract_start }} - {{ feedback.contract_end }}</p>
                </div>   
                <div class="">
                    <span class="d-block">Rating</span>
                    <span class="badge bg-success">{{ feedback.rating }} out of 5</span>
                </div>
            </div>
            <div class="card-body">
                <hr>
                <p class="text-muted fs-5">
                    {{ feedback.feedback }}
                </p>
            </div>
        </div>
    </div>

</div>